<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Spring</title>
<style type="text/css">
	label{
display:inline-block;
width:200px;
margin:5px;
text-align:left;
}

</style>
</head>
<body>

<div align="center">

<h1>User Registration</h1>
<form action="#" th:action="@{/register}" th:object="${Register}" method="post">
<label>Name:</label>
<input type="text" th:field="*{uname}" />
<br>
<label>Password:</label>
<input type="text" th:field="*{password}" />
<br>
<label>Email:</label>
<input type="text" th:field="*{email}" />
<br>
<label>Phone:</label>
<input type="text" th:field="*{phone}" />
<br>
<button type="submit">Register</button>
</form>

</div>
</body>
</html>